@font-face {
    font-family: bahnschrift;
    src: url(fonts/bahnschrift.ttf);
}

@font-face {
    font-family: ffmeta;
    src: url(fonts/meta-normal.ttf);
}

:root {
    --route-color: #005aa7;
    --panel-background-color: white;
    --inactive-color:rgb(199, 199, 199);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: bahnschrift;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f5f5f5;
}

/* Заголовок */
header {
    display: inline;
    padding: 10px 20px;
    font-size: 1.5rem;
}

header h3 {
    font-size: x-large;
    opacity: 65%;
    font-style: italic;
}

/* Основной контейнер */
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

/* Линия маршрута */
.route {
    flex: 1;
}

.route-container {
    position: relative;
    width: 100%;
    height: 40vh;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* NEXT STATION BLOCK */

.next-station {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1vh;
    max-height: 33%;
}


.next-stn-en-text {
    font-size: 4.3vh;
}

.next-stn-fr-text {
    margin-top: -0.5vh;
    font-size: 2.4vh;
    font-style: italic;
    opacity: 80%;
}

.next-station-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.station-name-formats {
    padding-left: 3vh;
    font-style: bold;
    font-size: 6vh;
}

.next-stn-connections {
    display: flex;
    padding-left: 2vh;
    flex-direction: row;
}

.next-stn-connections img {
    max-height: 5.5vh;
    padding-right: 1vh;
}

.next-station-exit-doors-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    order: 1;
}


.next-station-exit-doors-container img {
    max-height: 5.5vh;
}

.bold-horizontal-line {
    margin-top: 3vh;
    margin-bottom: 3vh;
    color: gray;
}

.route-visuals-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.station-line-top {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 3vh;
    margin-left: 3vh;
    margin-right: 3vh;
    text-align: center;
}

.station-line-bot {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 3vh;
    text-align: center;
    justify-content: center;
}

.station-connections {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.station-connections img {
    margin-left: 0.5vh;
    height: 2vh;
}

.station {
    position: relative;
    font-size: 1.2rem;
    color: gray;
    margin-top: auto;
}

.station.active {
    position: relative;
    color: black;
    font-weight: bold;
    margin-top: auto;
}

#station-2 {
    position: relative;
}

/* Линия прогресса */
.progress-container {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: lightgray;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#progress-bar-before-prev-stn,
#progress-bar,
#progress-bar-after-next-stn,
#progress-bar-end {
    position: absolute;
    height: 100%;
    transition: width 0.3s ease-in-out;
}

#progress-bar-before-prev-stn {
    left: 0;
    width: 15%;
    background-color: var(--inactive-color);
}

#progress-bar {
    left: 15%;
    width: 35%;
    background-color: var(--route-color);
}

#progress-bar-after-next-stn {
    left: 50%;
    width: 35%;
    background-color: var(--route-color);
}

#progress-bar-end {
    left: 85%;
    width: 15%;
    background-color: var(--route-color);
}

.train-marker {
    position: absolute;
    top: -5px;
    left: 15%; /* Позиция маркера */
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    transform: translateX(-50%);
}

.station-markers {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-left: 2.5%;
    z-index: 2;
    margin-top: 10vh;
}

.station-dot-marker {
    background-color: white;
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    border: 5px solid var(--inactive-color);
}

.station-dot-marker.active {
    background-color: white;
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    border: 5px solid var(--route-color);
}

/* Реклама */
.advertisements {
    width: 60vh;
    height: 40vh;
    background-color: #dcdcdc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 8px;
}

/* Подвал */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2rem;
}

#route-logo img{
    width: 5vh;
    height: 5vh;
    margin-right: 1vh;
}
 #line-info {
    padding: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
 }

 #blinking-colon {
    opacity: 0;
    transition: opacity 0.3s ease-out;
 }

 #blinking-colon.active {
    opacity: 100;
    transition: opacity 0.3s ease-in;
 }

 .destination-container {
    display: flex;
    align-items: center;
    justify-content: center;
 }


/* Bus styles */

.default-bus {
    color: white;
    background-color: rgba(66,110,149,255);
    padding: 5% 10%;

}

.b-line-bus {
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    background-color: rgba(244,121,33,255);
    width: auto;
    padding: 0% 12%;
    font-size: min(5vw, 5vh, 230%);
    font-family: ffmeta, sans-serif;
    line-height: 1;
    border-radius: 5px;
}

.rapid-bus {
    color: white;
    background-color: rgba(0,160,73,255);
    padding: 5% 10%;
}

.night-bus {
    color: white;
    background-color: rgba(36,94,134,255);
    padding: 5% 10%;
}





/* CONTROL CENTER HTML */

.control-center {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    width: 45%;
    padding: 5px;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-style: normal;
}

.control-center-row {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
}

.control-center-row button {
    max-width: 30%;
    padding: 3px;
    margin-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
.control-center-row p, label {
    font-size: 12px;
    padding: 3px;
    margin-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
.control-center-row select {
    font-size: 16px;
    padding: 2px;
    margin-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

.cc-bot {
    height: 50px;
}
